@page
@model AronGroup.Pages.Account.LoginModel
@{
}


<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input type="text" asp-for="UserName" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="text" asp-for="Password" class="form-control"/>
    </div>
    <hr/>
    <button class="btn-success">login</button>
</form>